/* reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  color: #333;
}

/* default styles */
body {
  line-height: 1;
  font-size: .875rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

/* container styles */
.container {
  margin: 0 auto;
}

/* header styles */
header {
  background-color: #f5f5f5;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
}

/* footer styles */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

/* button styles */
/* button,
input[type="submit"] {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: #609ae9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

button:hover,
input[type="submit"]:hover {
  background-color: #3e85e4;
} */

/* form styles */
form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* utility classes */
/* .text-center {
  text-align: center;
}

.text-right {
  text-align: right;
} */